{% extends "base.html" %}

{% block title %}Writeups{% endblock %}

{% block content %}

<h1>Writeups</h1>
<p>Writeups for the Cyber Security Challenge Germany 2022.</p>

<h2>Pwn</h2>
<ul>
    <li>
        <a href="/writeups/2022/cscg/secureboot">Secureboot</a>
    </li>
</ul>

<h2>Reversing</h2>
<ul>
    <li>
        <a href="/writeups/2022/cscg/hide-and-seek">Hide And Seek</a>
    </li>
</ul>

<h2>Web</h2>
<ul>
    <li>
        <a href="/writeups/2022/cscg/file-upload">File Upload</a>
    </li>
</ul>

{% endblock %}