{% extends "base.html" %}

{% block title %}Secureboot{% endblock %}

{% block content %}

<h1>Secureboot - CSCG2022</h1>

<p>
    <b>Category:</b> Pwn <br/>
    <b>Difficulty:</b> Hard <br/>
    <b>Author:</b> localo <br/>
</p>

<!--
<a href="https://sw1tchbl4d3.com/writeups/2022/cscg/secureboot">Read it on my website! (once I'm allowed to upload it!)</a>
-->

<h2>Recon</h2>

<p>
    We are given a zip file, <a href="/static/files/cscg2022/secureboot.zip"><code>secureboot.zip</code></a>, containing a <code>server.py</code> script, and a folder called <code>testsigned_images</code>. <br/>
    From a first look, the <code>server.py</code> script allows you to submit a signed bootloader image for it to run under qemu. <br/>
    Further down we can see our goal. The flag is being inserted as a disk, here disk number 3. <br/>
    So our goal is presumably to read the contents of this third disk, and get it back to us.
</p>

<p>
    At first we can make some modifications to this script to make debugging locally easier. <br/>
    First, let's comment out the timeout signal, so we don't get surprised by it while working. <br/>
    To do this, commenting out the <code>signal.alarm</code> line suffices
</p>

<img src="/static/img/writeups/cscg2022/secureboot1.png">

<p>
    Next, since we'll most likely be working with the code inside of qemu, we should make it accept gdb connections. <br/>
    For this I like to add the commandline parameters <code>-s -S</code> to the qemu call.
</p>

<img src="/static/img/writeups/cscg2022/secureboot2.png">

<p>
    Lastly, let's look at this qemu command again. <br/>
    It inserts 3 disks into the machine, a bootloader, an mbr, and the flag. <br/>
    The first argument is the bootloader, which is a file we do not have in the zip file. <br/>
    This bootloader most likely checks if the signature on the image we provide is correct. <br/>
    Because we don't have it locally, let's comment it out too. <br/>
    Then comes the MBR, the image we supply. <br/>
    As we need an image that is signed correctly, the zip came with 4 images already pre-signed for us. <br/>
</p>

<img src="/static/img/writeups/cscg2022/secureboot3.png">

<p>
    Notice the size of 520, a usual MBR bootsector would be 512 bytes, so we have 8 bytes more than normal. <br/>
    These 8 bytes probably store the signature. <br/>
    The source code for all 4 images are given in the description of the challenge: <br/>
    Tetros is from <a href="https://github.com/daniel-e/tetros">https://github.com/daniel-e/tetros</a> and the other three are from <a href="https://github.com/nanochess">https://github.com/nanochess</a>.
</p>

<p>
    So, we know our goal, somehow reading this third disk image, and doing that with any of the four presigned programs. <br/>
    To achieve this we could try to load one of the presigned programs, then exploit it to gain code execution, to then read the disk image. <br/>
    For that, we'll have to look at the presigned programs themselves, to see if we can find an exploit in one of them.
</p>

<p>
    Our options are 3 games (<code>flappy bird</code>, <code>tetris</code> and <code>lights</code>), and a <code>BASIC</code> interpreter. <br/>
    <code>BASIC</code> is a pretty old programming language, created back in 1964, and this one seemed to be the most interesting image of them all. <br/>
    A language interpreter is bound to be more complex than the three games, and will also have to take full text input, while the games probably handle input key by key. <br/>
    This makes memory corruption way more likely, so lets look at the <a href="https://github.com/nanochess/bootBASIC"><code>BASIC</code> image</a>.
</p>

<p>
    The code is written in assembly, and can be found in the <code>basic.asm</code> file. <br/>
    To understand the memory corruption exploit that can be found in this image, we'll have to make ourselves a mental image of the memory layout. <br/>
    The compiled image will be placed at the address <code>0x7c00</code>, as seen in line 148. <br/>
    Other important memory locations are named right after, including something we'll be interested in, our own input at <code>0x7e80</code>. <br/>
    So, the thing to keep in mind is that our line is placed after the code that is described in the assembly here.
</p>

<p>
    Now that we're aware of where things are in memory, let's look at the code that actually reads our line of text we enter.
</p>

<img src="/static/img/writeups/cscg2022/secureboot4.png">

<p>
    This <code>input_line</code> function seems to do exactly that. <br/>
    It first gets the location where to put the input (<code>0x7e80</code>), reads 1 character, and does some checks. <br/>
    First, if the key is a backspace, decrease the input pointer by one, and with that overwrite the character the user wanted to remove. <br/>
    The second check checks for a so-called <code>CR</code>, a Carriage Return, here the Enter key, to see when to finish reading a text line. <br/>
    So let's say we enter <code>print "Test"[CR]</code>, lets imagine <code>[CR]</code> is the enter key, then we would add the characters one by one to the line location. <br/>
    So, put <code>p</code> at location <code>0x7e80</code>, <code>r</code> at location <code>0x7e81</code> etc etc.
</p>

<p>
    How does this look like with the backspace key? <br/>
    Lets say we enter <code>q[BACKSPACE]print</code>. <br/>
    This will put <code>q</code> at location <code>0x7e80</code>, see the backspace, so set the line pointer back to <code>0x7e80</code>, so we can then set the intended <code>print</code> at location <code>0x7e80</code>, as if the q never was entered. <br/> 
    This allows for something weird to happen though.
</p>

<p>
    What happens if enter backspace, without entering any text beforehand? <br/>
    Well, the function would see the backspace, and set the pointer to <code>0x7e7f</code>. <br/>
    This is an issue, because the next character we type in doesn't get put at it's intended location <code>0x7e80</code>, but rather <code>0x7e7f</code>, exactly one byte before the intended location. <br/>
    We can extend this to as many backspaces as we want, for example send 16 backspaces to go back 16 characters, putting our line at <code>0x7e70.</code> <br/>
    If you still have the memory layout from before in mind, you'll notice that we could theoretically send so many backspaces that we set the line pointer back to <code>0x7c00</code>, letting us overwrite the code there! <br/>
</p>

<p>
    Though it's not that easy, if we override code that is used to read the line itself we won't get all of our injected code into memory fast enough. <br/>
    To that, we will have to somehow jump to our injected code after we're done injecting it. <br/>
    But for that, we have a nice and simple way baked into the program. <br/>
    Directly at the end, we have this table of statements.
</p>

<img src="/static/img/writeups/cscg2022/secureboot5.png">

<p>
    The way this program interprets the language is by looking up the keyword you used in this statements table, to then redirect code execution to the correct function. <br/>
    If we backtrack with our backspaces enough to land in this table, we could add our own statement entry, to then enter the statement and redirect code execution.
</p>

<h2>Exploitation</h2>

<p>
    Nice, so our current plan: <br/>
    1) load the bootBASIC image. <br/>
    2) backtrack into the table of statements. <br/>
    3) add custom statement that jumps somewhere into our line. <br/>
    4) put code that reads the disk number 3 to print it out at this location. <br/>
    5) enter the statement, and get the flag. <br/>
    Though, sadly, after some testing, we will realize that this won't just directly work.
</p> 

<p>
    If we try to send our shellcode to the server, we will quickly see that some of our characters dont get sent properly. <br/>
    On closer inspection, all characters that are above the ascii range <code>0x80</code> will not reach our target. <br/>
    This happens because the assembly bootloader code is designed to receive input from a keyboard, not a server connection, and qemu respects that. <br/>
    As such we can only send characters that we can actually type with our keyboard (and some more control characters), but no more. <br/>
    This presents a problem, how do we send shellcode to the machine in a way that only uses valid characters? 
</p>

<p>
    Turns out, there's ways to "transform" any kind of shellcode into ascii-only shellcode. <br/>
    One great example is this tool called <a href="https://github.com/VincentDary/PolyAsciiShellGen"><code>PolyAsciiShellGen</code></a>, which takes any shellcode and generates ascii shellcode from it. <br/>
    We cannot use this tool though, as it works primarily on 32bit code, and in the bootloader we work with 16bit code. <br/>
    As I found nothing for it, I decided to make my own generator for it. <br/>
    The code for it can be found <a href="https://gist.github.com/sw1tchbl4d3r/9d2c8704269fd7e2d1bcc0aa26d3684b#file-gen-py">here</a>.
</p>

<p>
    Don't be intimidated by the size of the code, most of it is the definition of a table that I generated with the appended <code>get_path_for</code> function. <br/>
    The code basically takes the original shellcode with the disallowed characters in it, and processes it by every 2 characters. <br/>
    Let's say we have the characters <code>0x41, 0x42</code>, and let's say they're disabled characters. <br/>
    The generator will now clear the <code>ax</code> register to 0 first. <br/>
    Then, it will modify ax to the 2 characters we want with some clever substraction instructions. <br/>
    For example here, we can substract <code>0xbcbc</code> from <code>0x0</code>. <br/>
    Because of something called <code>Integer Underflow</code>, this substraction is seen as <code>0x10000 - 0xbcbc</code>, which results in our wanted bytes.
</p>

<img src="/static/img/writeups/cscg2022/secureboot6.png">

<p>
    With many of these substractions, we can split them up in a way that allows us to only use valid characters. <br/>
    Now ax contains our wanted value, but how do we place it in memory now? <br/>
    This is done by simply <code>push</code>ing the variable onto the stack. <br/>
    We can control the location of the stack by <code>pop</code>ing any value we want into it, and as such can write ax anywhere we want. <br/>
    So this is that issue fixed! <br/>
    Next issue: How will our non-ascii shellcode look like to read the disk? <br/>
</p>

<p>
    I've uploaded the assembly as a gist <a href="https://gist.github.com/sw1tchbl4d3r/9d2c8704269fd7e2d1bcc0aa26d3684b#file-payload-asm">here</a>. <br/>
    It does a few more things than needed for this stage, but here's a basic rundown: <br/>
    We first clear some registers, then initiate a drive read command with the interrupt <a href="https://wikiless.org/wiki/INT_13H?lang=en#INT_13h_AH=42h:_Extended_Read_Sectors_From_Drive"><code>0x13</code></a>. <br/>
    The then read sectors get printed to the screen. <br/>
    We do this by taking the byte (e.g. <code>0x3a</code>), splitting it into it's 2 4-bit halfbytes <code>0x3</code> and <code>0xa</code>, to then add <code>0x30</code> to them and print them seperately. <br/>
    This all combined allows us to print characters like <code>0xa6</code>, which we couldn't do without this encoding strategy.
</p>

<p>
    So, to bring it all together: <br/>
    1) compile the stage1 raw shellcode <br/>
    2) generate asciified shellcode <br/>
    3) load the bootBASIC image. <br/>
    4) backtrack into the table of statements. <br/>
    5) add custom statement that jumps somewhere into our line. <br/>
    6) add our asciified shellcode to it <br/>
    7) run the statement to run the asciified shellcode <br/>
    8) ascii shellcode decodes into raw shellcode <br/>
    9) raw shellcode reads flag from disk and prints it
</p>

<p>
    Steps 1 and 2 are done manually with the gen.py script and nasm, the rest of the steps are handled by <a href="https://gist.github.com/sw1tchbl4d3r/9d2c8704269fd7e2d1bcc0aa26d3684b#file-sploit-py">this script</a>. <br/>
</p>

<p>
    If we follow all of these steps now, put the correct parameters into <code>gen.py</code>, and run <code>sploit.py</code>, we will get the flag. <br/>
</p>

<h2>Mitigations</h2>

<p>
    The only real issue here was the buffer underrun/underflow we were able to perform. <br/>
    The assembly should check if the <code>di</code> register reached the <code>line</code> constant, and if so not decrease it on <a href="https://github.com/nanochess/bootBASIC/blob/master/basic.asm#L485">line 485 in basic.asm</a>. <br/>
    Other advice however, don't put assembly applications on the internet, it has virtually no security mitigations and can with a single flaw be exploited completely. 
</p>

<p>~sw1tchbl4d3, 29/05/2022 (dd/mm/yyyy)</p>

{% endblock %}