{% extends "base.html" %}

{% block title %}Bite{% endblock %}

{% block content %}
<h1>Bite - H@cktivityCon CTF</h1>

<p>
    <b>Category:</b> Web <br/>
    <b>Solves (at time of writing):</b> 576 <br/>
    <b>Description:</b> Want to learn about binary units of information? Check out the "Bite of Knowledge" website! <br/>
</p>

<h2>Bite</h2>

<p>We are presented with a small website.</p>

<img src="/static/img/writeups/hacktivitycon/bite1.png"/>

<p>After a bit of clicking around on the reference links we quickly notice something.</p>

<img src="/static/img/writeups/hacktivitycon/bite2.png"/>

<p>If I click on <code>crumb</code>, we get this in the url bar.</p>

<p>Here we see that the website determines what page to show with the <code>?page</code> parameter.</p>

<p>This looks like a LFI (Local File Inclusion) vulnerability</p>

<p>We can test this by putting something invalid in this parameter, like <code>?page=doesntexist</code></p>

<img src="/static/img/writeups/hacktivitycon/bite3.png"/>

<p>It tells us that <code>doesntexist.php</code> doesn't exist.</p>

<p>So yes, we can try to load files we're not supposed to see.</p>

<p>At first I tried the obvious <code>flag</code>, and that actually gave us a hint to where the file is located.</p>

<img src="/static/img/writeups/hacktivitycon/bite4.png"/>

<p>It tells us the flag is at <code>/flag.txt</code></p>

<p>Trying that out (<code>?page=/flag.txt</code>) gives us the following:</p>

<img src="/static/img/writeups/hacktivitycon/bite5.png"/>

<p>It appended a <code>.php</code> to the end!</p>

<p>But we can fix that by using a null-byte.</p>

<p>A null-byte basically just tells the computer that the string ends at some point.</p>

<p>In html parameters we enter a nullbyte by typing <code>%00</code></p>

<p>So the Website it'd look up isnt <code>flag.txt.php</code> anymore, but <code>flag.txt%00.php</code></p>

<p>Since we have the null-byte, it cuts of the .php and we end with <code>flag.txt</code></p>

<p>And we get the flag!</p>

<img src="/static/img/writeups/hacktivitycon/bite6.png"/>

<p>~sw1tchbl4d3, 31/07/2020 (dd/mm/yyyy)</p>

{% endblock %}