{% extends "base.html" %}

{% block title %}CaesarMirror{% endblock %}

{% block content %}
<h1>CaesarMirror - H@cktivityCon CTF</h1>

<p>
    <b>Category:</b> Misc <br/>
    <b>Solves (at time of writing):</b> 1123 <br/>
    <b>Description:</b> Caesar caesar, on the wall, who is the fairest of them all? <br/>
</p>

<h2>CaesarMirror</h2>

<p>We get a file called <code>caesarmirror.txt</code> we presumably have to decrypt.</p>

<p>The name of the challenge gives away that the used cipher is probably <code>Caesar</code> a.k.a. <code>Rot13</code>.</p>

<p>Decrypting the file with Cyberchef gets us this:</p>

<div class="codeblock">
    <pre class="codeblock">
Oh boy! Wow, this warmup challenge sure   os I !rehtegot tup ot nuf fo tol a saw 
definitely absolutely always love trying   sgniht evitavonni dna wen pu kniht ot 
to do with the very basic, common and   fo trap tsrif ehT !seuqinhcet FTC cissalc 
your flag is flag{julius_ and that is a   gnihtyreve ton si ti tub trats taerg 
that you will need to solve this challenge.   dna edih ot gniyrt ekil t'nod I 
separate each part of the flag. The second   od uoy tub _a_ni_ si galf eht fo trap 
need just a little bit more. What exactly   ekam dna yrt ot ereh edulcni ew dluohs 
this filler text look more engaging and   ?senilwen dda ew dluohS ?elihwhtrow 
Should we add spaces and try and make it   hguone si senil ynam woH ?lacirtemmys 
to make this filler text look believable? A   a nihtiw srettel fo erauqs dilos 
simple, monospace-font text file looks good   eht ta tsomla ew erA .em ot hguone 
end? It looks like it! I hope it is good.   }noitcelfer si galf ruoy fo trap driht ehT 
and at this point you should have everything   rof galf siht timbus ot deen uoy taht 
points. The beginning is marked with the   ,ecarb ylruc gninepo eht dna xiferp galf 
and it includes English words separated by   ylruc gnisolc a ni dne ot ,serocsrednu 
brace. Wow! Now THAT is a CTF! Who knew we   siht ot rehpic raseac eht klim dluoc 
extent?? Someone get that Julius   !ladem a yug raseaC 
    </pre>
</div>

<p>Almost what we want, but the second side is mirrored.</p>

<p>Because I was too lazy to mirror it I just read the text backwards, resulting in <code>flag{julius_in_a_reflection}</code></p>

<p>~sw1tchbl4d3, 31/07/2020 (dd/mm/yyyy)</p>

{% endblock %}