{% extends "base.html" %}

{% block title %}Cat Cage{% endblock %}

{% block content %}
<h1>Cat Cage - H@cktivityCon CTF</h1>

<p>
    <b>Category:</b> Misc <br/>
    <b>Solves (at time of writing):</b> 202 <br/>
    <b>Description:</b> We are in the cat cage! Only the good cats get treats!  <br/>
</p>

<h2>Cat Cage</h2>

<p>For the challenge we get a server and a port to connect to via netcat.</p>

<p>Listing the files presents us with a get_flag file.</p>

<p>Catting it out shows us this:</p>

<img src="/static/img/writeups/hacktivitycon/cat-cage1.png"/>

<p>Since the word "cat" seems important in this Challenge, I thought of not using cat to show the contents of the file.</p>
    
<p>Since we have a bash shell we can get the contents of the file by typing <code>$(&lt;get_flag)</code></p>
    
<p>I tried to echo out the contents then with <code>echo $(&lt;get_flag)</code>, but echo was seemingly disabled.</p>
    
<p>So I tried it with <code>printf</code> (like a more low-level echo) </p>
    
<p>The syntax for the printf command would be: <code>printf "%s" $(&lt;get_flag)</code> (%s = print a string)</p>
    
<p>aaaand:</p>

<img src="/static/img/writeups/hacktivitycon/cat-cage2.png"/>

<p>There we have the command (red) and the flag (pink)!</p>
    
<p>~sw1tchbl4d3, 31/07/2020 (dd/mm/yyyy)</p>

{% endblock %}