{% extends "base.html" %}

{% block title %}Chess Cheater{% endblock %}

{% block content %}
<h1>Chess Cheater - H@cktivityCon CTF</h1>

<p>
    <b>Category:</b> Stegano <br/>
    <b>Solves (at time of writing):</b> 493 <br/>
    <b>Description:</b> <br/>
    I didn't think he was a genius, I knew he had to be a cheat. <br/>
    He was always sitting down, he never got up. Batting his eyelids in the most unnatural way. <br/>
    Then I understood it. <br/>
</p>

<h2>Chess Cheater</h2>
    
<p>We've been given a .wav file.</p>
    
<p>Listening to it it seems like morse code.</p>
    
<p>After searching around for a bit I found <a href="https://morsecode.world/international/decoder/audio-decoder-adaptive.html">this</a> Website, that gets and decodes Morsecode from audio files.</p>
    
<p>Putting the file in and clicking play gets us this:</p>

<img src="/static/img/writeups/hacktivitycon/chess-cheater1.png"/>

<p>Upload (red), Decode (blue/green), Flag (pink)</p>

<p>~sw1tchbl4d3, 31/07/2020 (dd/mm/yyyy)</p>

{% endblock %}