{% extends "base.html" %}

{% block title %}Common Place{% endblock %}

{% block content %}
<h1>Common Place - H@cktivityCon CTF</h1>

<p>
    <b>Category:</b> Misc <br/>
    <b>Solves (at time of writing):</b> 695 <br/>
    <b>Description:</b> <br/>
    <pre class="text-light">
        asd7138: can you find the flag here?
        tcm3137: no, i dont see it
        jwh8163: i cant find it either
        rfc5785: i found it
        asd7138: what!? where?!
        jwh8163: tell us!
    </pre> <br/>
</p>

<h2>Common Place</h2>

<p>At first we get a link to a normal-looking website.</p>

<p>First thing I checked was stuff like <code>robots.txt</code>, you know, the common stuff.</p>

<p>Then I noticed something about the description of the challenge.</p>

<p>The Username of one of the people in that chat starts with <code>rfc</code></p>

<p>Having this Website here set up, I knew of another common place that was defined by an RFC.</p>

<p>I double checked, and yes, <code>rfc5785</code> is the RFC for the <code>.well-known</code> Directory on Websites.</p>

<p>Checking that gives us a file listing.</p>

<img src="/static/img/writeups/hacktivitycon/common-place1.png"/>

<p>And in it, a flag.txt.</p>

<img src="/static/img/writeups/hacktivitycon/common-place2.png"/>

<p>~sw1tchbl4d3, dd/mm/yyyy (dd/mm/yyyy)</p>

{% endblock %}