{% extends "base.html" %}

{% block title %}Flushed{% endblock %}

{% block content %}
<h1>Flushed - H@cktivityCon CTF</h1>

<p>
    <b>Category:</b> Scripting <br/>
    <b>Solves (at time of writing):</b> 67 <br/>
    <b>Description:</b> It is like Rescue Mission all over again! Except this time... the flag was flushed down the toilet!  <br/>
</p>

<h2>Flushed</h2>

<p>We once again get an IP and Port to netcat into.</p>

<p>Netcatting in, it seems like a normal shell.</p>

<p>But after typing <code>ls</code> we see the twist.</p>

<img src="/static/img/writeups/hacktivitycon/flushed1.png"/>

<p>Everything is being converted into ascii art?</p>

<h3>This solution is <b>unintended</b>, you are supposed to write a script to recognize the characters, this is what I did:</h3>

<p>Well not everything, after experimenting a bit, only <code>stdout</code> gets converted into ascii art. (so non-error messages).</p>

<p>If we try to do something like <code>thiscommanddoesntexist</code> it shows up normally.</p>

<img src="/static/img/writeups/hacktivitycon/flushed2.png"/>

<p>This error (on <code>stderr</code>) gets shown normally.</p>

<p>So what happens if we output command like <code>ls</code> as an error, and route it to <code>stderr</code>?</p>

<p>In bash we can do that with prefixing our command with <code>&gt;&2</code>, so our final command would be <code>&gt;&2 ls</code></p>

<img src="/static/img/writeups/hacktivitycon/flushed3.png"/>

<p>And yes, this worked.</p>

<p>Knowing how to evade that, we can base64 the file, and decrypt it on our own PC to take a look at it.</p>

<img src="/static/img/writeups/hacktivitycon/flushed4.png"/>

<p>And the decoded image looks like this:</p>

<img src="/static/img/writeups/hacktivitycon/flushed5.png"/>

<p>~sw1tchbl4d3, 31/07/2020 (dd/mm/yyyy)</p>

{% endblock %}