{% extends "base.html" %}

{% block title %}Hexgedit{% endblock %}

{% block content %}
<h1>Hexgedit - H@cktivityCon CTF</h1>

<p>
    <b>Category:</b> Misc <br/>
    <b>Solves (at time of writing):</b> 767 <br/>
    <b>Description:</b> Woah! Someone opened the flag file in hexedit... and then gedit??  <br/>
</p>

<h2>Hexgedit</h2>

<p>We are given an image of a file in hex format.</p>

<p>To get the hex from the image we can use an <code>OCR</code> system that detects the numbers and puts them into text format.</p>

<p>(I cropped the image to just the hex itself first to make it easier)</p>

<p>I used <a href="https://www.onlineocr.net/">this one</a>, but it shouldnt matter.</p>

<img src="/static/img/writeups/hacktivitycon/hexgedit1.png"/>

<p>After getting the Hex I used <a href="https://www.rapidtables.com/convert/number/hex-to-ascii.html">yet another website</a> to get the ascii representation of that hex.</p>

<img src="/static/img/writeups/hacktivitycon/hexgedit2.png"/>

<p>And we get a nice little text with the flag.</p>

<p>~sw1tchbl4d3, 31/07/2020 (dd/mm/yyyy)</p>

{% endblock %}