{% extends "base.html" %}

{% block title %}His Story{% endblock %}

{% block content %}
<h1>His Story - H@cktivityCon CTF</h1>

<p>
    <b>Category:</b> Misc <br/>
    <b>Solves (at time of writing):</b> 226 <br/>
    <b>Description:</b> Will you hear his story? The answers are all in the past!  <br/>
</p>

<h2>His Story</h2>

<p>This time we get another server and port to netcat into.</p>

<p>Connecting to the port we get a bash shell.</p>

<p>After a quick <code>ls</code> we can see the <code>flag.txt</code> right at our fingertips!!</p>

<p>But for some reason <code>cat flag.txt</code> just doesnt work, it tells us <code>cat</code> doesnt exist.</p>

<p>Similar command like <code>more</code>, <code>less</code> and various text editors didnt work.</p>

<p>After a while, one command worked, <code>printf</code>!</p>

<p><code>printf</code> is like a more low-level <code>echo</code>.</p>

<p>With <code>printf</code> we're able to get the flag!</p>

<p>In bash you can get the contents of a file with <code>$(&lt;filename)</code></p>

<p>So I did <code>printf "%s" $(&lt;flag.txt)</code> (%s = tell printf to print a string)</p>

<img src="/static/img/writeups/hacktivitycon/his-story1.png"/>

<p>And we get the flag!</p>

<p>~sw1tchbl4d3, 31/07/2020 (dd/mm/yyyy)</p>

{% endblock %}