{% extends "base.html" %}

{% block title %}Incredibly Covert Malware Procedures{% endblock %}

{% block content %}
<h1>Incredibly Covert Malware Procedures - H@cktivityCon CTF</h1>

<p>
    <b>Category:</b> Forensics <br/>
    <b>Solves (at time of writing):</b> 140 <br/>
    <b>Description:</b> We got hacked! Can you see what they took? <br/>
</p>

<h2>Incredibly Covert Malware Procedures</h2>

<p>We are given a pcap (network capture) file.</p>

<p>Opening it in wireshark yields us a few calls to spotify, and a whole lot of ping (icmp) packets.</p>

<p>Looking at the packets it looks like they have a PNG image embedded into them.</p>

<img src="/static/img/writeups/hacktivitycon/icmp1.png"/>

<p>Here in red the PNG magic bytes.</p>

<p>Me not knowing enough wireshark returned to python, and I made a quick script that extracts the data from those requests.</p>

<p>
    Basically: Ignore the first few and last non-icmp packets, only get the relevant parts out of the packets, and only get data from every<br>
    2nd packet (odd numbers) since icmp "echoes" and we dont want those echoes inside of our png.
</p>

<div class="codeblock">
    <pre class="codeblock_to_be_rendered">
from pylibpcap.pcap import rpcap

def isOdd(n):
    return n%2

i = 0
wholebuf = b''
for ln, t, pkt in rpcap("incident.pcap"):
    if i >= 5 and isOdd(i) and i <= 1431:
        wholebuf += pkt[58:74]
    i+=1

with open("test.png", "wb") as file:
    file.write(wholebuf)
    </pre>
</div>

<p>Running this script on the pcap file yields us the flag as an PNG:</p>

<img src="/static/img/writeups/hacktivitycon/icmp2.png"/>

<p>~sw1tchbl4d3, 03/08/2020 (dd/mm/yyyy)</p>

{% endblock %}