{% extends "base.html" %}

{% block title %}InternetCattos{% endblock %}

{% block content %}
<h1>InternetCattos - H@cktivityCon CTF</h1>

<p>
    <b>Category:</b> Misc <br/>
    <b>Solves (at time of writing):</b> 941 <br/>
    <b>Description:</b> The Internet is full of wonderful kittens and cattos. You can even find one at jh2i.com on port 50003! <br/>
</p>

<h2>InternetCattos</h2>

<p>We are given a server and a port to connect to.</p>

<p>Netcatting into the server gives us <code>Oh, we already sent the flag! Did you see it?</code></p>

<p>
    Since they said "We already sent the flag", I opened it as a website on firefox,<br>
    since they can't do weird shell tricks in firefox to hide it.
</p>

<img src="/static/img/writeups/hacktivitycon/internetcattos1.png"/>

<p>And sure enough there it is!</p>

<p>~sw1tchbl4d3, 31/07/2020 (dd/mm/yyyy)</p>

{% endblock %}