{% extends "base.html" %}

{% block title %}Ladybug{% endblock %}

{% block content %}
<h1>Ladybug - H@cktivityCon CTF</h1>

<p>
    <b>Category:</b> Web <br/>
    <b>Solves (at time of writing):</b> 631 <br/>
    <b>Description:</b> Want to check out the new Ladybug Cartoon? It's still in production, so feel free to send in suggestions! <br/>
</p>

<h2>Ladybug</h2>

<p>We are given a link to a website.</p>

<p>Opening it gives us this small webpage:</p>

<img src="/static/img/writeups/hacktivitycon/ladybug1.png"/>

<p>Clicking around a bit I didnt notice anything special, the searchbar didnt do anything, and the contact form didnt either.</p>

<p>Then I took a look on how the Links work, since that was the only thing that worked here. </p>

<img src="/static/img/writeups/hacktivitycon/ladybug2.png"/>

<p>We can see that it discerns the different pages by the <code>/film/nameoffilm</code> in the url bar.</p>

<p>If we manually edit the url to point to a non-existant film, we should get a 404, but instead here we get this:</p>

<img src="/static/img/writeups/hacktivitycon/ladybug3.png"/>

<p>This is the <code>Werkzeug</code> Debugger, it pops up if your python-based webpage gets an error (but should be disabled) in production because of the following:</p>

<p>You can execute python statements by clicking this little symbol on the left (yellow):</p>

<img src="/static/img/writeups/hacktivitycon/ladybug4.png"/>

<p>And now we basically have RCE.</p>

<p>In Python to execute commands (and get their output) we import the subprocess library and use <code>subprocess.check_output(["command", "argument"])</code></p>

<img src="/static/img/writeups/hacktivitycon/ladybug5.png"/>

<p>Executing these few statements (basically executing <code>ls</code> and then <code>cat flag.txt</code>) gets us the flag.</p>

<p>~sw1tchbl4d3, 31/07/2020 (dd/mm/yyyy)</p>

{% endblock %}