{% extends "base.html" %}

{% block title %}Writeups{% endblock %}

{% block content %}
<h1>Writeups</h1>
<p>Writeups for the H@cktivityCon CTF</p>
<h2>Web</h2>
<ul>
    <li>
        <a href="/writeups/2020/hacktivitycon/bite">Bite</a>
    </li>
    <li>
        <a href="/writeups/2020/hacktivitycon/common-place">Common Place</a>
    </li>
    <li>
        <a href="/writeups/2020/hacktivitycon/ladybug">Ladybug</a>
    </li>
</ul>

<h2>Crypto</h2>
<ul>
    <li>
        <a href="/writeups/2020/hacktivitycon/caesarmirror">CaesarMirror</a>
    </li>
    <li>
        <a href="/writeups/2020/hacktivitycon/trex">Tyrannosaurus Rex</a>
    </li>
</ul>

<h2>Pwn</h2>
<ul>
    <li>
        <a href="/writeups/2020/hacktivitycon/pancakes">Pancakes</a>
    </li>
</ul>

<h2>Scripting</h2>
<ul>
    <li>
        <a href="/writeups/2020/hacktivitycon/flushed">Flushed</a>
    </li>
    <li>
        <a href="/writeups/2020/hacktivitycon/impartial">Impartial</a>
    </li>
    <li>
        <a href="/writeups/2020/hacktivitycon/misdirection">Misdirection</a>
    </li>
    <li>
        <a href="/writeups/2020/hacktivitycon/prophecy">Prophecy</a>
    </li>
    <li>
        <a href="/writeups/2020/hacktivitycon/rescue-mission">Rescue Mission</a>
    </li>
    <li>
        <a href="/writeups/2020/hacktivitycon/tootsie-pop">Tootsie Pop</a>
    </li>
</ul>

<h2>Mobile</h2>
<ul>
    <li>
        <a href="/writeups/2020/hacktivitycon/mobile-one">Mobile One</a>
    </li>
</ul>


<h2>Forensics</h2>
<ul>
    <li>
        <a href="/writeups/2020/hacktivitycon/icmp">Incredibly Covert Malware Procedures</a>
    </li>
    <li>
        <a href="/writeups/2020/hacktivitycon/opposable-thumbs">Opposable Thumbs</a>
    </li>
</ul>

<h2>Stego</h2>
<ul>
    <li>
        <a href="/writeups/2020/hacktivitycon/chess-cheater">Chess Cheater</a>
    </li>
</ul>

<h2>Misc</h2>
<ul>
    <li>
        <a href="/writeups/2020/hacktivitycon/cat-cage">Cat Cage</a>
    </li>
    <li>
        <a href="/writeups/2020/hacktivitycon/hexgedit">Hexgedit</a>
    </li>
    <li>
        <a href="/writeups/2020/hacktivitycon/his-story">His Story</a>
    </li>
    <li>
        <a href="/writeups/2020/hacktivitycon/internetcattos">InternetCattos</a>
    </li>
    <li>
        <a href="/writeups/2020/hacktivitycon/private-investigator">Private Investigator</a>
    </li>
    <li>
        <a href="/writeups/2020/hacktivitycon/pseudo">Pseudo</a>
    </li>
    <li>
        <a href="/writeups/2020/hacktivitycon/vencryption">Vencryption</a>
    </li>
</ul>

{% endblock %}