{% extends "base.html" %}

{% block title %}Misdirection{% endblock %}

{% block content %}
<h1>Misdirection - H@cktivityCon CTF</h1>

<p>
    <b>Category:</b> Scripting <br/>
    <b>Solves (at time of writing):</b> 340 <br/>
    <b>Description:</b> Check out the new Flag Finder service! We will find the flag for you! <br/></p>

<h2>Misdirection</h2>

<p>We start out with a link to a website.</p>

<p>Clicking on it we go to the "Flag Finder"</p>

<img src="/static/img/writeups/hacktivitycon/misdirection1.png"/>

<p>If we click the "Find The Flag" button, we get lots of redirects until we get to a "Sorry" webpage:</p>

<img src="/static/img/writeups/hacktivitycon/misdirection2.png"/>

<p>I tried it a few times but got the same page every time, so I wanted to take a closer look at the redirects.</p>

<p>We can do that with <code>burpsuite</code>, it logs everything that happens between you an the server (in a more readable way than wireshark).</p>

<img src="/static/img/writeups/hacktivitycon/misdirection3.png"/>

<p>We can see that the MIME-Type isnt really consistent, sometimes it doesnt send websites but rather data.</p>

<p>Lets take a look at the data that's being sent.</p>

<img src="/static/img/writeups/hacktivitycon/misdirection4.png"/>

<p>So we can see the different parts of the flag here in burp.</p>

<p>Me being too lazy to write a script for such a trivial task just went through the requests and pieced the flag together (they were in the right order so that made it easier) </p>

<p>Until I ended up with <code>flag{http_302_point_you_in_the_right_redirection}</code></p>

<p>~sw1tchbl4d3, 31/07/2020 (dd/mm/yyyy)</p>

{% endblock %}