{% extends "base.html" %}

{% block title %}Mobile One{% endblock %}

{% block content %}
<h1>Mobile One - H@cktivityCon CTF</h1>

<p>
    <b>Category:</b> Mobile <br/>
    <b>Solves (at time of writing):</b> 519 <br/>
    <b>Description:</b> The one true mobile app. <br/>
</p>

<h2>Mobile One</h2>

<p>At first I tried a quick <code>strings</code> on the file and grepped for <code>flag</code>, like in every reversing challenge.</p>
    
<p>(Strings to get all strings inside of the file and grep to search for a specific one.)</p>

<p>Of course this did not... wait...</p>

<img src="/static/img/writeups/hacktivitycon/mobile-one1.png"/>

<p>~sw1tchbl4d3, 31/07/2020 (dd/mm/yyyy)</p>

{% endblock %}