{% extends "base.html" %}

{% block title %}Opposable Thumbs{% endblock %}

{% block content %}
<h1>Opposable Thumbs - H@cktivityCon CTF</h1>

<p>
    <b>Category:</b> Forensics <br/>
    <b>Solves (at time of writing):</b> 418 <br/>
    <b>Description:</b> The flag is right between your finger tips. <br/>
</p>

<h2>Opposable Thumbs</h2>

<p>We are given a <code>thumbscache_256.db</code> file.</p>

<p>From my days of using Windows I remember there being a <code>thumbs.db</code> file to store thumbnails of images or icons in a folder.</p>

<p>After googling around for a bit I found this <a href="https://thumbcacheviewer.github.io/">Thumbcache Viewer</a>.</p>

<p>I downloaded it, was in EXE format but thanks to wine I could open it anyways.</p>

<p>After opening the file with a tool we'll be greeted with this screen:</p>

<img src="/static/img/writeups/hacktivitycon/opposable-thumbs1.png"/>

<p>We can see a bunch of information here, clicking on one of the entries showed the corresponding image.</p>

<p>I went through all of them but didnt find anything interesting.</p>

<p>Then I noticed the "Data Checksum" column.</p>

<p>For some of them its just 0, but some have an actual checksum.</p>

<p>Looking through the files with an actual checksum, only one of them seemed invisible.</p>

<p>Thinking that's the flag I extracted it by right-clicking the entry and clicking save as.</p>

<p>After saving it we can open it in an image viewer aaand:</p>

<img src="/static/img/writeups/hacktivitycon/opposable-thumbs2.png"/>

<p>~sw1tchbl4d3, 31/07/2020 (dd/mm/yyyy)</p>

{% endblock %}