{% extends "base.html" %}

{% block title %}Pancakes{% endblock %}

{% block content %}
<h1>Pancakes - H@cktivityCon CTF</h1>

<p>
    <b>Category:</b> Pwn <br/>
    <b>Solves (at time of writing):</b> 297 <br/>
    <b>Description:</b> How many flap-jacks are on your stack? <br/>
</p>

<h2>Pancakes</h2>

<p>We are given a binary, and an IP and Port to netcat into.</p>

<p>Analyzing the binary locally with <code>checksec</code>, we can see NX is enabled and Stack Canary + PIE/ASLR disabled. </p>

<p>After that I threw it into <code>ghidra</code> to take a closer look at the code.</p>

<p>Looking into the main function we see this:</p>

<img src="/static/img/writeups/hacktivitycon/pancakes1.png"/>

<p>The vulnerable <code>gets</code> function that makes a buffer overflow possible.</p>

<p>Diving a bit deeper into the function gets us an interesting <code>secret_recipe</code> function in the symbol table:</p>

<img src="/static/img/writeups/hacktivitycon/pancakes2.png"/>

<p>We can see the address of that function here (red) (thanks to ASLR not being enabled), and that it reads a flag.txt in (blue).</p>

<p>So presumably we have to overflow the buffer with gets, and change the return address to the <code>secret_recipe</code> function.</p>

<p>To get the offset I used pwnlibs cyclic generator, pasted the output into the program, and check the return address.</p>

<img src="/static/img/writeups/hacktivitycon/pancakes3.png"/>

<img src="/static/img/writeups/hacktivitycon/pancakes4.png"/>

<p>So at 152 characters begins the return address, so we need a padding of 152.</p>

<p>Since this exploit is pretty simple I directly made one for remote, and it looks like this:</p>

<div class="codeblock">
    <pre class="codeblock_to_be_rendered">
from pwn import *

padd = "A"*152
addr = "\x8b\x09\x40\x00\x00\x00\x00\x00"

f = remote("jh2i.com", 50021)
f.sendline(padd + addr)
f.interactive()
    </pre>
</div>

<p>Basically: We send a padding of 152 to the server, and then follow up with a little-endianized address.</p>

<p>Run it, and we get the flag.</p>

<img src="/static/img/writeups/hacktivitycon/pancakes5.png"/>

<p>~sw1tchbl4d3, 03/08/2020 (dd/mm/yyyy)</p>

{% endblock %}