{% extends "base.html" %}

{% block title %}Private Investigator{% endblock %}

{% block content %}
<h1>Private Investigator - H@cktivityCon CTF</h1>

<p>
    <b>Category:</b> Misc <br/>
    <b>Solves (at time of writing):</b> 433 <br/>
    <b>Description:</b> We have hired you to help investigate this private key. Please use it to connect to the server. <br/></p>

<h2>Private Investigator</h2>

<p>We are given a private key and a ssh server to connect to.</p>

<p>If we try connecting with <code>ssh -i id_rsa user@jh2i.com -p 50004</code>, it doesnt work.</p>

<div class="codeblock">
    <pre class="codeblock">
load pubkey "id_rsa": invalid format
Load key "id_rsa": invalid format
user@jh2i.com's password:
    </pre>
</div>

<p>So the Key doesnt work.</p>

<p>I opened it in Vim to take a closer look, maybe there are some non-ascii bytes in there or something.</p>

<p>I didn't find anything, but to my surprise after re-saving the file in vim (without edits) the key worked?</p>

<img src="/static/img/writeups/hacktivitycon/private-investigator1.png"/>

<p>After seeing the flag it was obvious to me.</p>

<p>SSH Keys need a newline at the end.</p>

<p>And Vim is nice and puts one after you save the file automatically.</p>

<p>~sw1tchbl4d3, 03/08/2020 (dd/mm/yyyy)</p>

{% endblock %}