{% extends "base.html" %}

{% block title %}Prophecy{% endblock %}

{% block content %}
<h1>Prophecy - H@cktivityCon CTF</h1>

<p>
    <b>Category:</b> Scripting <br/>
    <b>Solves (at time of writing):</b> 249 <br/>
    <b>Description:</b> C A N Y O U S E E T H E F U T U R E ? <br/>
</p>

<h2>Prophecy</h2>

<p>We are given an IP and a port to netcat into.</p>

<p>If we netcat into it we get a simple prompt, <code>W H A T I S T H E N E X T N U M B E R T O C O M E F R O M T H E F U T U R E ?</code></p>

<p>If we type in a random number (e.g. 1), it tells us the right number and kicks us out of the netcat session.</p>

<p>Interestingly, if we relaunch the netcat session and put in the number it told us was the right one, it works.</p>

<img src="/static/img/writeups/hacktivitycon/prophecy1.png"/>

<p>So we could potentially just put in 1, get the right number, add that number to a list, and then relaunch the session, and put that number in.</p>

<p>We could do that until we have the flag.</p>

<p>To do exactly that I've made a quick python script with pwnlib:</p>

<div class="codeblock">
    <pre class="codeblock_to_be_rendered">
from pwn import *
import time

timer = 0.3
listofnums = []
while True:
    r = remote("eight.jh2i.com", 50012)
    r.recvuntil("==============================================================================")
    for i in listofnums:
        r.recvline("F U T U R E ?")
        r.sendline(str(i))
        time.sleep(timer)
    #r.interactive()
    r.sendline("1")
    r.recvuntil("W A S")
    correctnum = int(r.recvuntil("\n").replace(b"\n", b""))
    listofnums.append(correctnum)
    print(str(listofnums))
    </pre>
</div>

<p>Because of infrastructure problems and limitations due to abuse of their services, I had to implement a <code>time.sleep</code> to not get EOF'd</p>

<p>We let that script run, let it crash, copy the <code>listofnums</code> it printed out, paste it in line 5, and then uncomment line 13.</p>

<p>Doing that will get us the flag: <code>flag{does_this_count_as_artificial_intelligence}</code></p>

<p>~sw1tchbl4d3, 03/08/2020 (dd/mm/yyyy)</p>

{% endblock %}