{% extends "base.html" %}

{% block title %}Pseudo{% endblock %}

{% block content %}
<h1>Pseudo - H@cktivityCon CTF</h1>

<p>
    <b>Category:</b> Misc <br/>
    <b>Solves (at time of writing):</b> 219 <br/>
    <b>Description:</b> Someone here has special powers... but who? And how!? <br/>
</p>

<h2>Pseudo</h2>

<p>We start out with an ssh session to a computer.</p>

<p>Initially we don't see that much, other than the many users on the machine.</p>

<p>Going after the name of the challenge, I decided to go check the sudoers file, they may have gotten their "special powers" through there.</p>

<img src="/static/img/writeups/hacktivitycon/pseudo1.png"/>

<p>On first glance we dont see anything special, but I noticed the <code>#includedir</code> line at the end.</p>

<p>The # in <code>#includedir</code> does *not* mean its a comment, in the sudoers file includes are prefixed with a #.</p>

<p>It includes the /etc/sudoers.d directory, so lets check that out!</p>

<p>Going to the directory, the only file we find is a README.</p>

<img src="/static/img/writeups/hacktivitycon/pseudo2.png"/>

<p>And in that file a user, with sudo privilieges, and his password!</p>

<p>We can log in as this user now (<code>su todd</code>).</p>

<p>After logging in we type <code>sudo su</code> to log in as the root user.</p>

<p>And checking <code>/root</code> we see a <code>flag.txt</code></p>

<img src="/static/img/writeups/hacktivitycon/pseudo3.png"/>

<p>~sw1tchbl4d3, 31/07/2020 (dd/mm/yyyy)</p>

{% endblock %}