{% extends "base.html" %}

{% block title %}Rescue Mission{% endblock %}

{% block content %}
<h1>Rescue Mission - H@cktivityCon CTF</h1>

<p>
    <b>Category:</b> Scripting <br/>
    <b>Solves (at time of writing):</b> 109 <br/>
    <b>Description:</b> Oh no! The flag has been lost in the most disconcerting places! Can you save the flag?? <br/>
</p>

<h2>Rescue Mission.</h2>

<p>We are given yet another server to connect to via netcat.</p>

<p>Connecting to it we get dropped into a powershell.</p>

<p>Looking at our surroundings we see a single folder <code>stuck_in</code>, in it around 8 folders.</p>

<p>All of the 8 folders are empty, except the <code>the_ocean</code> folder, it contains a <code>flag.png</code>!</p>

<img src="/static/img/writeups/hacktivitycon/rescue-mission1.png"/>

<p>To exfiltrate this file I base64 encoded it and decoded it at my machine again.</p>

<div class="codeblock">
    <pre class="codeblock">
[Convert]::ToBase64String([IO.File]::ReadAllBytes("/c_drive/stuck_in/the_ocean/flag.png"))
    </pre>
</div>

<p>Decoding and opening it yields us this:</p>

<img src="/static/img/writeups/hacktivitycon/rescue-mission2.png"/>

<p>~sw1tchbl4d3, 03/08/2020 (dd/mm/yyyy)</p>

{% endblock %}