{% extends "base.html" %}

{% block title %}TITLE{% endblock %}

{% block content %}
<h1>TITLE - H@cktivityCon CTF</h1>

<p>
    <b>Category:</b> CATEGORY <br/>
    <b>Solves (at time of writing):</b> AMNT_OF_SOLVES <br/>
    <b>Description:</b> DESCRIPTION <br/>
</p>

{% endblock %}