{% extends "base.html" %}

{% block title %}Tootsie Pop{% endblock %}

{% block content %}
<h1>Tootsie Pop - H@cktivityCon CTF</h1>

<p>
    <b>Category:</b> Scripting <br/>
    <b>Solves (at time of writing):</b> 195 <br/>
    <b>Description:</b> How many licks does it take to get to the center of a tootsie pop? <br/>
</p>

<h2>Tootsie Pop</h2>

<p>We are given a zip file.</p>

<p>Unzipping it gives us a gz file.</p>

<p>Unpacking that gives us a.... etc.. etc..</p>

<p>It's basically just many compression layers stacked on top of one another.</p>

<p>I instantly had an Idea for a script.</p>

<p>The <code>7z x</code> command can extract almost everything, so I dont have to switch between unpackers.</p>

<p>Then extract the first one, put it in the folder 1, extract everything from folder 1 and put it in folder 2 etc.. etc...</p>

<p>So this is the finished script:</p>

<div class="codeblock">
    <pre class="codeblock">
!#/bin/bash
i=1
7z x pop.zip -o1
for (( ; ; ))
do
7z x $i/* -o$(($i+1))
if [ $? -ne 0 ]
then
exit
fi
i=$(($i+1))
done
    </pre>
</div>

<p>Running it gives us 1547 folders, and in the <code>1547</code> folder the flag!</p>

<img src="/static/img/writeups/hacktivitycon/tootsie-pop1.png"/>

<p>~sw1tchbl4d3, 03/08/2020 (dd/mm/yyyy)</p>
    
{% endblock %}