{% extends "base.html" %}

{% block title %}Tyrannosaurus Rex{% endblock %}

{% block content %}
<h1>Tyrannosaurus Rex - H@cktivityCon CTF</h1>

<p>
    <b>Category:</b> Cryptography <br/>
    <b>Solves (at time of writing):</b> 241 <br/>
    <b>Description:</b> We found this fossil. Can you reverse time and bring this back to life? <br/>
</p>


<h2>Tyrannosaurus Rex</h2>

<p>We are given the following python script:</p>

<div class="codeblock">
    <pre class="codeblock_to_be_rendered">
#!/usr/bin/env python

import base64
import binascii

h = binascii.hexlify
b = base64.b64encode

c = b'37151032694744553d12220a0f584315517477520e2b3c226b5b1e150f5549120e5540230202360f0d20220a376c0067'

def enc(f):
    e = b(f)
    z = []
    i = 0
    while i < len(e):
        z += [ e[i] ^ e[((i + 1) % len(e))]]
        i = i + 1
    c = h(bytearray(z))
    return c
    </pre>
</div>
<p>We have encoded hex, and the function that encrypted it.</p>

<p>We can start by reversing the first step, unhexlifying the string back into a list of numbers we can loop over.</p>

<div class="codeblock">
    <pre class="codeblock_to_be_rendered">
def dec(c):
    f = []
    for i in binascii.unhexlify(c):
        f.append(i)
    </pre>
</div>

<p>Now we can take a look at the encryption algorithm.</p>

<p>First of all, the whole string is converted into base64 (line 12).</p>

<p>After that it's simple XOR, it XORS <code>e[i]</code> with <code>e[i+1]</code> into <code>z</code> (lets ignore the <code>% len(e)</code> for now.)</p>

<p>Since XORs reverse function is XOR, to reverse this we can do <code>e[i+1]=e[i]^z</code> to decode the string.</p>

<p>But to do that we'd need at least the first bit of data, the e[0].</p>

<p>Fortunately we know the flag format, and that it always starts with <code>flag{</code>!</p>

<p>So lets base64 encode that and get the first few characters from it.</p>

<p>The base64 representation of <code>flag{</code> is <code>ZmxhZ3s=</code>, so lets take the Z and convert it into a number with the <code>ord()</code> function in python (90).</p>

<p>If we put everything I just said into a python script, the whole script would look like this:</p>

<div class="codeblock">
    <pre class="codeblock_to_be_rendered">
#!/usr/bin/env python

import base64
import binascii

h = binascii.hexlify
b = base64.b64encode

c = b'37151032694744553d12220a0f584315517477520e2b3c226b5b1e150f5549120e5540230202360f0d20220a376c0067'

def enc(f):
    e = b(f)
    z = []
    i = 0
    while i < len(e):
        z += [ e[i] ^ e[((i + 1) % len(e))]]
        i = i + 1
    c = h(bytearray(z))
    return c

def dec(c):
    f = []
    for i in binascii.unhexlify(c):
        f.append(i)
    e = [90] + [None] * 47

    i=0
    while i < 47:
        e[i+1] = f[i]^e[i]
        i += 1

    n = "".join([chr(i) for i in e])

    return base64.b64decode(n.encode())

print(dec(c))
    </pre>
</div>

<p>(The length 48 seen in lines 25 and 28 comes from len(f) after the unhexlify)</p>

<p>Run this, and we get <code>b'flag{tyrannosauras_xor_in_reverse}'</code>!</p>

<p>~sw1tchbl4d3, 03/08/2020 (dd/mm/yyyy)</p>

{% endblock %}