{% extends "base.html" %}

{% block title %}Vencryption{% endblock %}

{% block content %}
<h1>Vencryption - H@cktivityCon CTF</h1>

<p>
    <b>Category:</b> Misc <br/>
    <b>Solves (at time of writing):</b> 365 <br/>
    <b>Description:</b> I know the flag is in this file! I just cannot open it for some reason... <br/>
</p>

<h2>Vencryption</h2>

<p>We're given a text file.</p>

<p>In it the only recognizable string is <code>VimCrypt~03!</code></p>

<p>This File has been encrypted with Vim!</p>

<p>Since the mode was <code>~03</code> (VimCrypt<strong>~03</strong>), the most secure mode at this point, I didn't find any exploits to cheese the encryption.</p>

<p>So I resulted to good old bruteforce.</p>

<p>I found <a href="https://github.com/nlitsme/vimdecrypt">this</a> github repo with a nice bruteforce script.</p>

<p>Using it with <code>rockyou.txt</code> as the dictionary yields us the flag in seconds.</p>

<img src="/static/img/writeups/hacktivitycon/vencryption1.png"/>

<p>~sw1tchbl4d3, 03/08/2020 (dd/mm/yyyy)</p>

{% endblock %}