{% extends "base.html" %}

{% block title %}Follow The White Rabbit - Cave{% endblock %}

{% block content %}
<h1>Follow The White Rabbit - Cave - CSCG</h1>

<p>    
    <b>Category:</b> Gamehax <br/>
    <b>Difficulty:</b> Easy <br/>
    <b>Author:</b> LiveOverflow <br/>

</p>

<h2>Reconnaissance</h2>

<p>First I had to turn on my windows machine and try that game out.</p>

<p>In this game you have to follow a rabbit, but after you've followed it for a while it jumps into a hole.</p>

<p>If you try  to follow it, you die (falldamage).</p>

<p>At first I wanted to teleport down there with cheat engine, didn't quite work out, haven't used it for years...</p>

<p>Then I thought of getting the flag out of the assets of the game.</p>

<h2>Exploitation</h2>

<p>To get the assets I used <a href="https://github.com/Perfare/AssetStudio/">AssetStudio</a>.</p>

<p>After downloading just open the game folder with it, click <code>Asset List</code> and search for <code>flag</code>. (green here)</p>

<img src="/static/img/writeups/cscg2020/follow-the-white-rabbit-cave1.png"/>

<p>And yep, the <code>flag1</code> Texture2D object is indeed the flag.</p>

<h2>Mitigation</h2>

<p>In Unity you could draw a dynamically generated textmesh in the game instead of a static texture.</p>

<p>That would help against this type of attack!</p>

<p>~sw1tchbl4d3, 08/04/2020 (dd/mm/yyyy)</p>

{% endblock %}