{% extends "base.html" %}

{% block title %}Intro to Crypto 3{% endblock %}

{% block content %}
<h1>Intro to Crypto 3 - CSCG</h1>

<p>
    <b>Category:</b> Crypto <br/>
    <b>Difficulty:</b> Baby <br/>
    <b>Author:</b> black-simon <br/>
</p>

<h2>Reconnaissance</h2>

<p>Files for you to hack along: <a href="/static/files/writeups/cscg2020/intro-crypto3.zip">intro-crypto1.zip</a></p>

<p>
    We are given 3 keys and 3 messages, they're probably the same message, just encrypted with different keys.<br/>
    Looking at the keys with openssl shows that the exponent is pretty low (3).
</p>

<p>A quick google search about low exponents got me <a href="https://www.inf.hs-flensburg.de/lang/krypto/protokolle/rsa-low-exponent-attack.htm">this [GER]</a>.</p>

<p>That's what we're gonna use, a Low-Exponent-Attack.</p>

<h2>Exploitation</h2>

<p>I took the script from the website and modified it so it fits my needs, like this:</p>

<div class="codeblock">
    <pre class="codeblock_to_be_rendered">
def inverse(e, phi):
    a, b, u = 0, phi, 1
    while(e > 0):
        q = b // e
        e, a, b, u = b % e, u, e, a-q*u
    if (b == 1):
        return a % phi
    else:
        print("Must be coprime!")    
    
def lowExponentAttack(nn, cc, e):
    n, c=chineseRemainder(nn, cc)
    w=nthRoot(c, e)
    return w
    
def chineseRemainder(nn, rr):
    if len(nn)==1:
        return nn[0], rr[0]
    else:
        j=len(nn)//2
        m, a=chineseRemainder(nn[:j], rr[:j])
        n, b=chineseRemainder(nn[j:], rr[j:])
        u=inverse(m, n)
        x=u*(b-a)%n*m+a
    return m*n, x
    
def nthRoot(c, n):
    p=1
    while p**n<c:
        p*=2
    w=p
    wn=w**n
    while wn!=c:
        p//=2
        if p==0:
            raise Exception("%d ist keine %d-te Potenz" %(c, n))
        if wn>c:
            w-=p
        if wn<c:
            w+=p
        wn=w**n
    return w
    
e = 3
nn = [<list of Ns>]
cc = [<list of encrypted msgs>]
    
print lowExponentAttack(nn, cc, e)
    </pre>
</div>

<p>(There were a few import errors with the script they got, I just cleaned it up a bit.)<p>

<p>That got me this: </p>

<img src="/static/img/writeups/cscg2020/intro-crypto31.png">

<p>Looks like it worked! That's the message! (in decimal form).</p>

<p>Converting it to text it looks like this:</p> 

<img src="/static/img/writeups/cscg2020/intro-crypto32.png">

<p>And there's the flag!</p>

<h2>Mitigation</h2>

<p>Like I said in Crypto2, dont generate your own keys manually, with weak exponents or modulus.</p>

<p>Use tested tools that work.</p>

<p>~sw1tchbl4d3, 09/04/2020 (dd/mm/yyyy)</p>

{% endblock %}