{% extends "base.html" %}

{% block title %}Intro to Stegano 3{% endblock %}

{% block content %}
<h1>Intro to Stegano 3 - CSCG</h1>

<p>
    <b>Category:</b> Stego <br/>
    <b>Difficulty:</b> Baby <br/>
    <b>Author:</b> explo1t <br/>
</p>

<h2>Reconnaissance</h2>

<p>This is the file we got:</p>

<img src="/static/img/writeups/cscg2020/intro-stego36.png"/>

<p>(same file, unmodified! You can try it yourself!)</p>

<p>At first I tried to look at the image color-wise with <a href="https://georgeom.net/StegOnline/">this tool</a></p>

<p>(had to convert the png to jpg first though)</p>

<p>After my image was uploaded I tried every mode, and <code>LSB Half </code> got the result I needed.</p>

<img src="/static/img/writeups/cscg2020/intro-stego32.png"/>

<p>Clicking that, the image got transformed into this:</p>

<img src="/static/img/writeups/cscg2020/intro-stego31.png"/>

<p>As you can maybe see, it says <code>The password is s33_m3_1f_y0u_c4n</code></p>

<p>We'll need that for our next step.</p>

<p>Running zsteg on the png got this:</p>

<img src="/static/img/writeups/cscg2020/intro-stego33.png"/>

<p>We found a zip file (green) at <code>extradata:0</code> (blue).</p>

<p>Now to the "Exploitation".</p>

<h2>Exploitation</h2>

<p>We can extract the zip file from the png like so:</p>

<img src="/static/img/writeups/cscg2020/intro-stego34.png"/>

<p>Trying to unzip the file asks for a password.</p>

<p>Conveniently we already know the password!</p>

<p>Extract the zip and cat out the flag and we get this:</p>

<img src="/static/img/writeups/cscg2020/intro-stego35.png"/>

<p>And there's the flag!</p>

<h2>Mitigation</h2>

<p>Like I said last time, stego isnt good if you haven't got a password that's not already contained in that/some other file.</p>

<p>Someone will eventually find it.</p>

<p>~sw1tchbl4d3, 09/04/2020 (dd/mm/yyyy)</p>

{% endblock %}