{% extends "base.html" %}

{% block title %}Intro to Crypto 2{% endblock %}

{% block content %}
<h1>Intro to Crypto 2 - CSCG</h1>

<p>
    <b>Category:</b> Crypto <br/>
    <b>Difficulty:</b> Baby <br/>
    <b>Author:</b> black-simon <br/>
</p>

<h2>Reconnaissance</h2>

<p>Files for you to hack along: <a href="/static/files/writeups/cscg2020/intro-crypto2.zip">intro-crypto2.zip</a></p>

<p>I looked at the Modulus and the Exponent at first, both look reasonable.</p>

<p>Trying to factor the Modulus again didn't work, so I got me some help from a cool tool.</p>

<h2>Exploitation</h2>

<p>To get the private key I used <a href="https://github.com/Ganapati/RsaCtfTool">RsaCtfTool</a>.</p>

<p>Issuing <code>./RsaCtfTool.py --publickey ../pubkey.pem --private</code> yields us this:</p>

<img src="/static/img/writeups/cscg2020/intro-crypto21.png"/>

<p>That wasn't too hard.</p>

<p>Now we can extract the private exponent from this key by executing <code> cat privkey.pem | openssl rsa -text -noout</code>.</p>

<img src="/static/img/writeups/cscg2020/intro-crypto22.png"/>

<p>This is our d.</p>

<p>Converting this into a number with my modtodec script gets us this:</p>

<img src="/static/img/writeups/cscg2020/intro-crypto23.png"/>

<p>Too large to show here once again.</p>

<p>Knowing D we can decrypt the message like we did in Intro to Crypto 1.</p>

<img src="/static/img/writeups/cscg2020/intro-crypto24.png"/>

<h2>Mitigation</h2>

<p>First of all: Don't generate your own custom keys with custom primes like this. Use tools that have been tested like openssl etc...</p>

<p>And if you want to generate them manually, check the security of the two primes and the private and public exponent.</p>

<p>~sw1tchbl4d3, 09/04/2020 (dd/mm/yyyy)</p>

{% endblock %}
