{% extends "base.html" %}

{% block title %}Intro to Crypto 1{% endblock %}

{% block content %}
<h1>Intro to Crypto 1 - CSCG</h1>

<p>
    <b>Category:</b> Crypto <br/>
    <b>Difficulty:</b> Baby <br/>
    <b>Author:</b> black-simon <br/>
</p>

<h2>Reconnaissance</h2>

<p>Files for you to hack along: <a href="/static/files/writeups/cscg2020/intro-crypto1.zip">intro-crypto1.zip</a></p>

<p>
    In the description we have a <a href="/static/files/writeups/cscg2020/Intro_Crypto.html">step-by-step guide</a> 
    <a href="https://static.allesctf.net/Intro_Crypto.html">(original link)</a> (missing some steps) to solve this. 
</p>

<p>We have a public key and a message.</p>

<p>By reading the guide we know that we have to try to factor the public key.</p>

<h2>Exploitation</h2>

<p>At first we have to get the modulus we try to factorize.</p>

<p>To get the modulus, you type:</p>

<p><code>openssl rsa -pubin -in pubkey.pem -text -noout</code></p>

<p>pubkey.pem being the public key.</p>

<p>You'll get something like this:</p>

<img src="/static/img/writeups/cscg2020/intro-crypto11.png"/>

<p>(I put the command into a script in scripts/getmod.sh)</p>

<p>Thats not quite the number we need, this is hex and we need a decimal.</p>

<p>I've done that with this small python script:</p>

<div class="codeblock">
    <pre class="codeblock_to_be_rendered">
from sys import argv
mod = open(argv[1], "r")
modin = mod.read()
mod.close()
modin = modin.replace("\n", "").replace(" ", "").replace(":", "")
print(int(modin, 16))
    </pre>
</div>

<p>Which basically takes a file as a first argument, reads it, removes newlines spaces and colons and converts it.</p>

<img src="/static/img/writeups/cscg2020/intro-crypto12.png"/>

<p>You cant really see it because the number is huge (like its supposed to be.)</p>

<p>After that we write a small python script to factor the thing:</p>

<div class="codeblock">
    <pre class="codeblock_to_be_rendered">
N = <put n here>

for i in range(2, 1000000):
    if N % i == 0:
        break
print("p:", i)
print("q:", N//i)
        </pre>
</div>

<p>This checks if N mod i == 0 (is N divisible by i), and does that for every number from 2 to 1000000.</p>

<p>If that succeeds we have the first prime (and effectively the second one too. (q))</p>

<p>Executing that yields us this:</p>

<img src="/static/img/writeups/cscg2020/intro-crypto13.png"/>

<p>(thats not the whole q)</p>

<p>Knowing q and p broke the RSA and we can crack it now.</p>

<p>To do that I stole a few functions from Stack Overflow and made this:</p>

<div class="codeblock">
    <pre class="codeblock_to_be_rendered">
p = <insert p>;
q = <insert q>;
e = 65537 # exponent, seen in the getmod.sh
phi = (p-1)*(q-1)

#Took from SO
def egcd(a, b):
    if a == 0:
        return (b, 0, 1)
    g, y, x = egcd(b%a,a)
    return (g, x - (b//a) * y, y)

def modinv(a, m):
    g, x, y = egcd(a, m)
    if g != 1:
        raise Exception('No modular inverse')
    return x%m

print(modinv(e, phi))
    </pre>
</div>

<p>
    This script calculates d, the number we need to decrypt the message. (d = e⁻¹ mod ϕ) (
    <a href="https://www.di-mgt.com.au/rsa_alg.html">this</a>
    website helped a lot with formulas etc....)
</p>

<p>Execute that and you'll get d.</p>

<img src="/static/img/writeups/cscg2020/intro-crypto14.png"/>

<p>Once again not the whole d.</p>

<p>Knowing d will let us decrypt the message as shown in the guide:</p>

<img src="/static/img/writeups/cscg2020/intro-crypto15.png"/>

<p>And we get this!</p>

<h2>Mitigation</h2>

<p>Have both primes be large, not just one, the encryption is as strong as the weakest prime!</p>

<p>~sw1tchbl4d3, 08/04/2020 (dd/mm/yyyy)</p>

{% endblock %}