{% extends "base.html" %}

{% block title %}Intro to Reversing 1{% endblock %}

{% block content %}
<h1>Intro to Reversing 1 - CSCG</h1>

<p>
    <b>Category:</b> Reverse Engineering <br/>
    <b>Difficulty:</b> Baby <br/>
    <b>Author:</b> 0x4d5a <br/>
</p>

<h2>Reconnaissance</h2>

<p>Files for you to hack along: <a href="/static/files/writeups/cscg2020/intro-rev1.zip">intro-rev1.zip</a></p>

<p>Starting the executable greeted me with the following:</p>

<img src="/static/img/writeups/cscg2020/intro-rev11.png"/>

<p>So we need to get the password.</p>

<p>As it is with reversing-challenges, I have my small checklist to go through.</p>

<p>At first I tried <code>strings rev1</code>.</p>

<p>Strings shows all strings inside of a binary, maybe theres something like the flag or the password in the file in plaintext.</p>

<p>To my surprise, the password was in the list of strings contained in that executable</p>

<img src="/static/img/writeups/cscg2020/intro-rev12.png"/>

<p>As marked here (in red), you can see <code>y0u_5h3ll_p455</code> right after <code>Give me your password:</code> .</p>

<h2>Exploitation</h2>

<p>Thanks to our recon we now have the password to get the flag.</p>

<img src="/static/img/writeups/cscg2020/intro-rev13.png"/>

<p>And there's the Flag! <code>CSCG{ez_pz_reversing_squ33zy}</code></p>

<h2>Mitigation</h2>

<p>There are a few possible ways to stop getting in this way, but I'd recommend one that applies to Rev1-Rev3: Hashing.</p>

<p>Get a secure password, hash it with something secure like SHA-512, and save the hash in the file, not the plain password / poorly encrypted password.</p>

<p>Then hash the user input the same way, compare the hashes and nobody can read your passwords anymore!</p>

<p>~sw1tchbl4d3, 07/03/2020 (dd/mm/yyyy)</p>

{% endblock %}