{% extends "base.html" %}

{% block title %}Intro to Stegano 1{% endblock %}

{% block content %}
<h1>Intro to Stegano 1 - CSCG</h1>

<p>
    <b>Category:</b> Stego <br/>
    <b>Difficulty:</b> Baby <br/>
    <b>Author:</b> explo1t <br/>
</p>

<h2>Reconnaissance</h2>

<p>This is the file we got:</p>

<img src="/static/img/writeups/cscg2020/intro-stego15.png" width="300" height="300"/>

<p>(same file, unmodified! You can try it yourself!)</p>

<p>At first I tried a quick <code>file</code>....</p>

<img src="/static/img/writeups/cscg2020/intro-stego11.png"/>

<p>And that showed up. That's gonna be useful later.</p>

<p>Other than that I didn't really find anything other than what we're gonna do next.</p>

<h2>Exploitation</h2>

<p>Trying to use steghide asks us for a password. I tried the comment as a password, and it worked!</p>

<img src="/static/img/writeups/cscg2020/intro-stego12.png"/>

<p>Now we just have to extract it with steghide:</p>

<img src="/static/img/writeups/cscg2020/intro-stego13.png"/>

<p>And cat it out</p>

<img src="/static/img/writeups/cscg2020/intro-stego14.png"/>

<p>And there's the flag.</p>

<h2>Mitigation</h2>

<p>Don't really know what to say here, don't hide stuff in images? Someones gonna find it eventually if the password is weak / just written into the file.</p>

<p>With a strong password that's not just written down somewhere I can see the potential.</p>

<p>~sw1tchbl4d3, 09/08/2020 (dd/mm/yyyy)</p>

{% endblock %}