{% extends "base.html" %}

{% block title %}Writeups{% endblock %}

{% block content %}
<h1>Writeups</h1>
<p>Writeups for the Cyber Security Challenge Germany 2020.</p>
<h2>Crypto</h2>
<ul>
    <li>
        <a href="/writeups/2020/cscg/intro-crypto1">Intro to Crypto 1</a>
    </li>
    <li>
        <a href="/writeups/2020/cscg/intro-crypto2">Intro to Crypto 2</a>
    </li>
    <li>
        <a href="/writeups/2020/cscg/intro-crypto3">Intro to Crypto 3</a>
    </li>
</ul>

<h2>Reversing</h2>
<ul>
    <li>
        <a href="/writeups/2020/cscg/intro-rev1">Intro to Reversing 1</a>
    </li>
    <li>
        <a href="/writeups/2020/cscg/reme-1">reme Part 1</a>
    </li>
</ul>

<h2>Web</h2>
<ul>
    <li>
        <a href="/writeups/2020/cscg/local-fun-inclusion">Local Fun Inclusion</a>
    </li>
</ul>

<h2>Stego</h2>
<ul>
    <li>
        <a href="/writeups/2020/cscg/intro-stego1">Intro to Stegano 1</a>
    </li>
    <li>
        <a href="/writeups/2020/cscg/intro-stego3">Intro to Stegano 3</a>
    </li>
</ul>

<h2>Gamehax</h2>
<ul>
    <li>
        <a href="/writeups/2020/cscg/follow-the-white-rabbit-cave">Follow The White Rabbit - Cave</a>
    </li>
</ul>

{% endblock %}