{% extends "base.html" %}

{% block title %}Local Fun Inclusion{% endblock %}

{% block content %}
<h1>Local Fun Inclusion - CSCG</h1>

<p>
    <b>Category:</b> Web <br/>
    <b>Difficulty:</b> Easy <br/>
    <b>Author:</b> 0x4d5a <br/>
</p>

<h2>Reconnaissance</h2>

<p>This is a web-challenge, so I opened the website for the challenge, <code>http://lfi.hax1.allesctf.net:8081/</code>.</p>

<img src="/static/img/writeups/cscg2020/local-fun-inclusion1.png"/>

<p>On this Website you can upload pictures.</p>

<p>At first, like in every web-challenge, I open the source of the page.</p>

<p>And Line 35 instantly catches my eye.</p>

<img src="/static/img/writeups/cscg2020/local-fun-inclusion2.png"/>

<p><code>site=upload.php</code> you say? Looks like a Local File Inclusion vulnerability! (you could've guessed from the name)</p>

<p>So you can do stuff like this:</p>

<img src="/static/img/writeups/cscg2020/local-fun-inclusion3.png"/>

<p>Visiting <code>http://lfi.hax1.allesctf.net:8081/index.php?site=/etc/passwd</code> just presents the content to us!</p>

<p>Well, what could you do with that? There is an especially interesting way to even get RCE (Remote Code Execution) on such an server.</p>

<h2>Exploitation</h2>

<p>We have the 2 things we need: We can include every file we want, and we can upload files.</p>

<p>Well, kinda:</p>

<img src="/static/img/writeups/cscg2020/local-fun-inclusion4.png"/>

<p>We can't just upload something like a php reverse shell and execute it, the website just wants Images.</p>

<p>Or can we?</p>

<p>Because it actually just checks the extension, we can upload something like this:</p>

<img src="/static/img/writeups/cscg2020/local-fun-inclusion5.png"/>

<p>Save this in a File like <code>rce.png</code></p>

<p>And upload aaaaand......</p>

<img src="/static/img/writeups/cscg2020/local-fun-inclusion6.png"/>

<p>Welp.</p>

<p>Looks like it checks if it can decode the image/checks for resolution of the image.</p>

<p>But there's still a way!</p>

<p>Gif-Images have a feature that allows placing comments inside of them.</p>

<p>Theres a nice linux tool for that, <code>gifsicle</code>.</p>

<p>First of all I got myself a random gif.</p>

<img src="/static/img/writeups/cscg2020/local-fun-inclusion7.png"/>

<p>You can see its just gif-junk.</p>

<p>Now we use <code>gifsicle</code> 's --comment function:</p>

<img src="/static/img/writeups/cscg2020/local-fun-inclusion8.png"/>

<p>Now we got our code inside of a valid image!</p>

<p>Lets upload it......</p>

<img src="/static/img/writeups/cscg2020/local-fun-inclusion9.png"/>

<p>Yes!</p>

<p>But how did that help us?</p>

<p>Opening it normally still gets us the image, not code execution.</p>

<img src="/static/img/writeups/cscg2020/local-fun-inclusion10.png"/>

<p>But if you get it's path (red here)...</p>

<p>Well, now we can use our LFI.....</p>

<img src="/static/img/writeups/cscg2020/local-fun-inclusion11.png"/>

<p>We still get gif-gibberish.</p>

<p>But wait...</p>

<p>Where's the code we implemented?</p>

<p>Turns out it actually got executed, it included our code and interpreted the rest of the gif as text!</p>

<p>Well, if you remember, the code looked at the cmd parameter and executes everything you put into it.</p>

<p>So:</p>

<img src="/static/img/writeups/cscg2020/local-fun-inclusion12.png"/>

<p>If we specify the image (red) and specify the command (green, here <code>ls</code>), it actually gets us the output of that command (blue)!</p>

<p>And what do we see there? flag.php! Lets open it!</p>

<img src="/static/img/writeups/cscg2020/local-fun-inclusion13.png"/>

<p>or not?</p>

<p>Weird, no output. Has someone got root and cleared it or something? I checked with <code>ls -Alh</code>, and it's not supposed to be empty...</p>

<p>Wait a second.</p>

<p><code>.php</code></p>

<p>If its code thats stored in there it gets executed = doesnt show up in browser..</p>

<p>But it could show up in source!</p>

<img src="/static/img/writeups/cscg2020/local-fun-inclusion15.png"/>

<p>And yes, it does!</p>

<p>There's the flag! <code>CSCG{G3tting_RCE_0n_w3b_is_alw4ys_cool}</code></p>

<h2>Mitigation</h2>

<p>There are a number of ways to stop an attack like this, as always.</p>

<p>First things first: Dont use include in php! It can lead to bad things happening.</p>

<p>If you absolutely must have include: Sanitize the users input. If it includes something you dont want it to include, filter it out.</p>

<p>~sw1tchbl4d3, 07/03/2020 (dd/mm/yyyy)</p>

{% endblock %}