{% extends "base.html" %}

{% block title %}reme Part 1{% endblock %}

{% block content %}
<h1>reme Part 1 - CSCG</h1>

<p>
    <b>Category:</b> Reverse Engineering <br/>
    <b>Difficulty:</b> Easy <br/>
    <b>Author:</b> 0x4d5a <br/>
</p>

<h2>Reconnaissance</h2>

<p>Here are the files if you want to try it for yourself: <a href="/static/files/writeups/cscg2020/reme-1.zip">reme-1.zip</a></p>

<p>Reading the description we can find that we need a windows environment with .NET Core Runtime 2.2 installed</p>

<img src="/static/img/writeups/cscg2020/reme11.png"/>

<p>After getting that up and running I executed the file:</p>

<img src="/static/img/writeups/cscg2020/reme12.png"/>

<p>So we need a password, let's see if we can find one!</p>

<h2>Exploitation</h2>

<p>My tool of choice for .NET apps is <a href="https://github.com/0xd4d/dnSpy">dnSpy</a>.</p>

<p>Does what it should, and can edit and recompile the code.</p>

<p>Just what we need.</p>

<p>After installing dnspy just open it and drag the ReMe.dll in.</p>

<p>Then on the sidebar browse to the main method like this:</p>

<img src="/static/img/writeups/cscg2020/reme13.png"/>

<p>Follow the points I marked red, and you'll find yourself in the main method.</p>

<p>The first thing it executes is InitialCheck, lets check that out!</p>

<img src="/static/img/writeups/cscg2020/reme14.png"/>

<p>Here we can see that it compares the first argument with the result of that String.Decrypt() function.</p>

<p>But we can't see the flag (blue).</p>

<p>So we need to find out how we decrypt that Password.</p>

<p>Shouldn't be too hard.</p>

<p>I've gone back into main, and rightclicked.</p>

<img src="/static/img/writeups/cscg2020/reme15.png"/>

<p>There you can click <code>Edit Method (C#)...</code></p>

<p>Then you get the Code.</p>

<p>And how do we get the decrypted Password now?</p>

<p>By printing it!</p>

<img src="/static/img/writeups/cscg2020/reme16.png"/>

<p>Just add a <code>Console.WriteLine()</code> and let it print the decrypted String!</p>

<p>After you put that in, just click <code>Compile</code> and it's in!</p>

<p>After that you want to save the edited dll.</p>

<p>Before that I advise you to make a backup of the file (or redownload it after getting the first flag).</p>

<p>In the upper-right corner, click <code>File</code></p>

<img src="/static/img/writeups/cscg2020/reme17.png"/>

<p>And click <code>Save Module...</code></p>

<img src="/static/img/writeups/cscg2020/reme18.png"/>

<p>The Name MUST be <code>ReMe.dll</code>, otherwise it wont start.</p>

<p>So overwrite your copy of ReMe and download it again later, or put the modified file into another dir and copy the json-junk with it.</p>

<p>Anyway, click <code>OK</code> to save the file. After that you can close dnSpy.</p>

<p>Then open another shell (cmd/powershell, your choice), and open the file.</p>

<img src="/static/img/writeups/cscg2020/reme19.png"/>

<p>And Bingo! <code>CanIHazFlag?</code> is printed on the screen!</p>

<p>Now get the original ReMe.dll back, and use the password aaand.....</p>

<img src="/static/img/writeups/cscg2020/reme110.png"/>

<p>There's the flag! <code>CSCG{CanIHazFlag?}</code></p>

<p>The <code>nope</code> after that is because you only specified one parameter, but it needs two, but thats part of ReMe2!</p>

<h2>Mitigation</h2>

<p>As I say in every RE-Challenge, Obfuscation won't help. Sure, it'll postpone the search for a bit, but at some point someone's gonna get it.</p>

<p>That's why I recommend using Hashes like SHA-512 for obvious reasons.</p>

<p>Good Hashes can't be reversed (at this point of time), and are just the most secure way out.</p>

<p>~sw1tchbl4d3, 07/03/2020 (dd/mm/yyyy)</p>

{% endblock %}