body {
    background-color: #1d212c;
    color: #c6c6cb;
    font-family: Dejavu Sans, sans-serif; 
}

table.media {
    margin-top: 2em;
    text-align: center; 
    vertical-align: middle;
    min-width: 20em;
}

table.navbar {
    margin: 1em;
    min-width: 20em;
    font-size: 20px;
}

a {
    color: #0d8686;
    text-decoration: none; 
}

div.container {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    overflow: hidden;
}

h1.error {
    text-align: center;
    font-size: 5em;
}

p.error {
    text-align: center;
    font-size: 2em;
}

div.codeblock {
    background-color: #14171e;
}

pre.codeblock {
    margin-right: 1em;
    margin-left: 1em;
}

img {
    display: inline-block;
}