{% extends "base.html" %}

{% block title %}Writeups{% endblock %}

{% block content %}
<h1>Writeups</h1>
<p>Here are some writeups by me, sorted by the year of the CTF.</p>
<h2>2022</h2>
<ul>
    <li>
        <a href="/writeups/2022/cscg/">CSCG 2022 (Cyber Security Challenge Germany)</a>
    </li>
</ul>
<h2>2020</h2>
<ul>
    <li>
        <a href="/writeups/2020/hacktivitycon/">H@cktivityCon CTF</a>
    </li>
    <li>
        <a href="/writeups/2020/cscg/">CSCG 2020 (Cyber Security Challenge Germany)</a>
    </li>
</ul>
<h2>Any</h2>
<ul>
    <li>
        <a href="/writeups/any/htb/">HackTheBox</a>
    </li>
</ul>

{% endblock %}