{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About</h1>
<p>Hello there! I am Justin, {{age}} years old, and I love to code and hack.</p>
<p>In terms of hacking, I'm pretty good at binary exploitation, reversing and penetration testing (and misc if you will).<br/>
For programming, these are the languages I am best at:</p>
<p>
    <ul>
        <li>Python</li>
        <li>C / C++</li>
        <li>Rust</li>
        <li>Assembly</li>
    </ul>
</p>

<br/>

<p>
    If you want to contact me through traditional methods (email):<br/>
    <!-- This weirdness is done to hopefully prevent at least a few spambots from spamming this email. -->
    <span>sw1tchbl4d3</span><span>  @  </span><span>sw1tchbl4d3.com</span> 
</p>

<p>For security problems with this website, please consult <a href="/.well-known/security.txt">security.txt</a>,<br/>
and for encrypted communication see <a href="/pubkey.txt">pubkey.txt</a></p>
<p>Also, here are some profiles you might want to take a look at:</p>

<table class="media">
    <tr>
        <td>
            <img src="/static/img/github.png" alt="Github" width="32" height="32">
        </td>
        <td>
            <img src="/static/img/codeberg.png" alt="Codeberg" width="32" height="32">
        </td>
        <td>
            <img src="/static/img/ctftime.png" alt="CTFTime" width="32" height="32">
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://github.com/sw1tchbl4d3r">Github</a>
        </td>
        <td>
            <a href="https://codeberg.org/sw1tchbl4d3">Codeberg</a>
        </td>
        <td>
            <a href="https://ctftime.org/user/82549">CTFTime</a>
        </td>
    </tr>
</table>
{% endblock %}