<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}{% endblock %} - sw1tchbl4d3</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon-16.ico') }}" sizes="16x16">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon-32.ico') }}" sizes="32x32">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon-96.ico') }}" sizes="96x96">
    </head>
    <body>
        <table class="navbar">
            <tr>
                <td>
                    <a class="navbar-link" href="/">Home</a>
                </td>
                <td>
                    <a class="navbar-link" href="/about">About</a>
                </td>
                <td>
                    <a class="navbar-link" href="/writeups/">Writeups</a>
                </td>
            </tr>
        </table>
        <div class="container">
        {% block content %}{% endblock %}
        </div>
    </body>
</html>