{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Home</h1>
<p>Hello there! I am Justin, {{age}} years old, and I love to code and hack.</p>
<p>This website has been made for the purpose of sharing my hacking experience through <a href="/writeups/">writeups</a>.</p>
<p>You can also find contact info, my public key, and more in the <a href="/about">About</a> section.</p>
<p>If you happened to find any security vulnerabilites in this site or in any of my projects, consult <a href="/.well-known/security.txt">security.txt</a>.</p>
{% endblock %}