{% extends "base.html" %}

{% block title %}Writeups{% endblock %}

{% block content %}
<h1>Writeups</h1>
<p>Writeups for HackTheBox Machines and Challenges</p>
<h2>Windows</h2>
<ul>
    <li>
        <a href="/writeups/any/htb/sauna">Sauna (10.10.10.175)</a>
    </li>
</ul>

{% endblock %}